/* Pc */
@media (min-width: 992px) {
  .moblie-header{
    display: none;
  }
}

/* Tablet && Moblie */
@media (max-width: 991.98px) {

  /*1. Hidden navbar */
  .navbar {
    display: none;
  }

  /*2. Move logo center */
  .header-top {
    position: relative;
  }

  .header-top .logo {
    position: absolute;
    translate: -50% -50%;
    left: 50%;
  }

  /* 3. Menu-header  */
  .menu-header__icon {
    position: absolute;
    top: 25px;
    left: 30px;
    color: white;
  }

  /* 4. Overplay */
  .menu-overlay {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    /* Hidden overplay */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  /*5. Check checkbox */
  .menu-checkbox:checked~.menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  /*6. Menu Drawer  */
  .menu-drawer {
    position: fixed;
    background: #406181;
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
    padding: 60px;
  }

  /*7. Visiable drawer */
  .menu-checkbox:checked~.menu-drawer {
    transform: translateX(0);
  }

  /*8. Menu */
  /* Menu-top */
  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .close__menu {
    color: white;
  }

  #navbar__list--moblie {
    margin-top: 25px;
  }

  #navbar__list--moblie a {
    padding: 15px;
    display: block;
    font-size: 2rem;
    color: white;
  }

  #navbar__list--moblie a:hover {
    background-color: #75c4ad;
    font-size: 2.5rem;
    border-radius: 20px 0;
  }

}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Moblie */
@media (max-width: 767.98px) {}

/* Hidden not responsive */
#header .header-bottom,
main,
#footer {
  display: none;
}